body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-montserrat: Montserrat;
    --font-arial: Arial;
  
    /* font sizes */
    --font-size-xl: 18px;
    --font-size-35xl: 48px;
    --font-size-9xl: 24px;
    --font-size-xs: 12px;
    --font-size-3xs: 10px;
  
    /* Colors */
    --color-gray: #432020;
    --color-black: #000;
    --color-lightgoldenrodyellow: #dee6b9;
  }
  