body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-montserrat: Montserrat;
    --font-segoe-ui: "Segoe UI";
  
    /* font sizes */
    --font-size-xs: 12px;
    --font-size-3xs: 10px;
    --font-size-9xl: 28px;
    --font-size-xl: 20px;
  
    /* Colors */
    --color-white: #fff;
    --color-lightgoldenrodyellow: #dee6b9;
    --color-black: #000;
    --color-lightcoral: #f67878;
    --color-dimgray: #707070;
    --color-gray: #432020;
  
    /* Border radiuses */
    --br-24xl: 43px;
  }
  